!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 You have a shoot coming up, #{@user.name}
    -# put something here that links back to the shoot
