%p.button= link_to 'Add User', new_user_path

- if @users.blank?
  %p There are not any users currently in the system.
- else
  %h2 Users


%ul
  %li.shoot
    %p.index NAME
    %p.index EMAIL
    %p.index PHONE

%ul
  - @users.each do |user|
    %li.shoot
      %p= link_to user.name, user
      %p= link_to user.email, user
      %p= link_to user.phone_number, user
